
*{
    margin: 0;
    padding: 0;
    font-style: none;
}
.login-page{
    display: flex;/* to make login-block at center */
    justify-content: center;
    align-items: center;/* this doesn't works-use minheight 100vh to work */
    min-height: 100vh;   
}
.login-block{
    width: 450px;    
    height: 400px;
    background: #30389d;
    display: flex;/* to make alignment of email,passs*/
    justify-content: center;
    align-items: center;
}
.login-block h1{
    color: rgb(10, 249, 6);
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.input-field input{
    background: transparent; /* makes bg transparent-only shows border */
    /* border: none; */ /* removes all border-not wanted */
    border: solid 1px white;    
    color: black;
    
}